<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGIhIf1xoltcq6J1Ch096_B0JQuz1DArU</string>
	<key>GCM_SENDER_ID</key>
	<string>581262041861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LoyaltyCardGenerator</string>
	<key>PROJECT_ID</key>
	<string>loyalty-card-generator-ad964</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-card-generator-ad964.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:581262041861:ios:93d491d3b9486cdbcd8d6c</string>
</dict>
</plist>
